/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import '~eclipsefdn-solstice-assets/less/quicksilver/styles.less';
@import '_variables.less';

.header-wrapper-coming-soon {
  background: #303846 top center;
  background-image: url(images/background.jpg);
  background-size: cover;

  h1,
  .h1 {
    text-shadow: 0 0 20px darken(@brand-primary, 20%), 0 0 20px darken(@brand-primary, 20%), 0 0 20px darken(@brand-primary, 20%);
  }
}

.website-coming-soon {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .eclipsefdn-members-list {
    padding: 0;

    .members-item a {
      display: block;
      margin: 1.2rem auto;
    }
  }
}

@media (min-width: @screen-md-min) {
  
  .website-coming-soon {
    &__container {
      max-width: unset;
      margin-top: 10rem;
    }

    &__content {
      flex-direction: row;

      & > * {
        flex-basis: 100%;
      }
    }

    .section-card {
      position: relative;
      top: -8.75rem;
      min-height: 48rem;
      margin-bottom: -8.75rem;
    }
  }
}

@media (min-width: @screen-lg-min) {
  .website-coming-soon {
    &__container {
      height: 48rem;
    }
  }
}

.website-coming-soon__container {
  background-color: @brand-primary;
  border-radius: 5rem;

  @media (min-width: @screen-md-min) {
    margin-bottom: 30rem;
  }
}

.section-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 3rem;
  color: @black;
  background-color: @white;

  &-title {
    padding: 2rem;
    margin: 0;
    color: @white;
    background-color: @brand-secondary;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }

  &-body {
    padding: 2rem 4rem;
  }

  &-actions {
    // Center the CTAs
    text-align: center;
  }
}

.btn {
  border-radius: 0.75em;
  text-transform: uppercase;
}

.btn.btn-primary {
  color: @white;
}

.eclipsefdn-video-with-js img {
  aspect-ratio: 16/9;
  object-fit: cover;
}
